# Facebook Page Access Token
# Get this from: https://developers.facebook.com/
# Create an app, add Facebook Login product, and generate a Page Access Token for khadockllc page
FACEBOOK_ACCESS_TOKEN=your_facebook_page_access_token_here
